<ion-header>
  <ion-navbar>
    <ion-title>
      ファルストサイト
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
　エリキさん、こんばんわ！

  <ion-list ng-value="lista">
    <button ion-item
      *ngFor="let item of lista">
      {{ item }}
    </button>
  </ion-list> 
</ion-content>