<h1>{{titulo}}</h1>
<h2>Ranking dos Heróis</h2>
<h3>Classe S</h3>
<ul class="herois">
        <li *ngFor="let heroi of herois" [class.selected]="heroi === selectedHeroi" (click)="onSelect(heroi)">
            <span class="badge">{{heroi.id}}</span> {{heroi.nome}}
      </li>
</ul>
<hero-detail [heroi]="selectedHeroi"></hero-detail>