<div *ngIf="heroi">
    <h2>Editar {{heroi.id}}º no ranking: </h2>
    <div><label>Posição: </label>{{heroi.id}}</div>
    <div>
        <label>Nome: </label>
        <input [(ngModel)]="heroi.nome" placeholder="name">
    </div>
</div>