<ion-header>
  <ion-navbar>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Digite seu nome: 
    <input type="text" [(ngModel)]="nome"/>
  
  </p>

  <h2>Bem-vindo, {{nome}}!</h2>
  <p>
    Este projeto inicial vem com layout simples baseado em abas para aplicativos
    que utilizarão uma interface de usuário (UI) baseado em Abas.
  </p>
  <p>
    Dê uma olhada no diretório <code>src/pages/</code> para adicionar ou alterar abas,
    atualizar alguma página existente ou criar novas páginas.
  </p>
</ion-content>
